<html>
<head>
    <title>doctorSignup Page</title>
</head>
<body>
        <form method="post" action="signupCheck.php" enctype="">
        
      
        Username: <input type="text" name="username" value="" /> <br>
        Email: <input type="email" name="email" value="" /> <br>
        Phone: <input type="tel" name="phone" value="" pattern="[0-9]{10}" /> <br>
        Password: <input type="password" name="password" value="" /> <br>
        Confirm Password: <input type="password" name="confirm_password" value="" /> <br>
       
    
        
        Doctor ID: <input type="text" name="doctor_id" value="" /> <br>
        License Number: <input type="text" name="license_number" value="" /> <br>
        Specialization: <input type="text" name="specialization" value="" /> <br>
        Years of Experience: <input type="number" name="experience" min="0" value="" /> <br>

        
        <input type="submit" name="submit" value="Sign Up" />
        <input type="reset" name="reset" value="Reset" />
    </form>
</body>
</html>