<!DOCTYPE html>
<html>
<head>
    <title>Doctor Login Page</title>
</head>
<body>
    <h2>Doctor Login</h2>
    <form method="post" action="../controller/loginController.php">
        Username: <input type="text" name="username" value="Enter your username" /> <br><br>
        Email: <input type="email" name="email" value="Enter your email" /> <br><br>
        Phone: <input type="tel" name="phone" value="Enter your phone number" /> <br><br>
        Password: <input type="password" name="password" value="Enter your password" /> <br><br>
        <input type="submit" name="submit" value="Login" />
        <input type="reset" name="reset" value="Reset" />
    </form>
</body>
</html>

