<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="auth.css">
</head>
<body>
        <form method="post" action="../controller/adminSignupCheck.php" enctype="">
            Name: <input type="text" required name="Name" value="" /> <br>
            Username: <input type="text" required name="username" value="" /> <br>
            Email:   <input type="email" name="email" value="" /> <br>
            Password: <input type="password" name="password" value="" /> <br>
            Confirm Password : <input type="password" name="password" value="" /> <br>

            <input type="submit" name="submit" value="Sign Up" />
            <p>Already Have an account? <a href= 'adminLogin.html'>Login</a></p>
        </form>
</body>
</html>