<html>

<head>

<title>CART</title>
</head>

<body>
    <fieldset>
<legend>CART</legend>
<table border="2">
<tr>
<td>  <b>Product</b> </td>
<td>  <b>Price</b> </td>
<td>  <b>QTY</b> </td>
<td>  <b>Total</b> </td>
</tr>

<tr>
<td> <img src="pic.jpg" height="100"></td>
<td>$5.20</td>
<td>2</td>
<td>$10.40</td>

</tr>

<tr>
    <td colspan="4">
        <br />
        <h2>Total : $10.40</h2>
        <br />
    </td>

<tr>


</table>




    </fieldset>
</body>
</html>