*{

    margin: 0;
 
    padding: 0;
 
 }
 
 .mb{
 
    margin-bottom: 10px;
 
 }
 
 .container {
 
    display: flex;
 
    justify-content: center;
 
    align-items: center;
 
    height: 100vh;
 
 }
 
 .formControl{
 
    margin-bottom: 10px;
 
 }
 
 .formContainer {
 
    margin: 10px;
 
    padding: 30px 20px;
 
    outline: 1px solid black;
 
 }
 
 .txtField {
 
    width: 100%;
 
    padding: 10px;
 
    border: 1px solid #ccc;
 
    border-radius: 5px;
 
 }
 
 .button {
 
    display: inline-block;
 
    padding: 5px 10px;
 
    background-color: #3498db;
 
    color: #fff;
 
    border: none;
 
    border-radius: 5px;
 
    text-align: center;
 
    text-decoration: none;
 
    cursor: pointer;
 
    font-size: 16px;
 
 }
 
 .button:hover {
 
    background-color: #2980b9;
 
 } 